@using Org.BouncyCastle.Crypto.Engines
@model Pose

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<h2>@Model.English_Name Pose:</h2>
<a asp-controller="Pose" asp-action="UpdatePose" asp-route-id="@Model.Pose_Id" style="display: block">Update Pose</a>
<img src="@(Model.Url_Svg ?? Url.Content("~/Images/no-image.svg"))" alt="@Model.English_Name" height="500px">
<p><strong>Sanskrit Name:</strong> @Model.Sanskrit_Name</p>
<p><strong>Sanskrit Name Translation:</strong> @Model.Translation_Name</p>
<p><strong>Description:</strong> @Model.Pose_Description</p>
<p><strong>Pose Benefits:</strong> @Model.Pose_Benefits</p>
<p><strong>Category/s:</strong>
    @foreach (var cat in Model.CategoryList)
    {
        <a href="@Url.Action("GetCategoryById", "Category", new { id = cat.CatId.Value })">
            @cat.CatName
        </a>
        @(cat != Model.CategoryList.Last() ? ", " : "")
    }
</p>
<p><strong>Pose Difficulty:</strong> @Model.Difficulty_Level</p>

</body>
</html>