@model IEnumerable<Pose>


<h2>Poses</h2>
<a asp-action="InsertPose" asp-controller="Pose">Insert New Pose</a>
<table class="table">
    
    <tr>
        <th>Name</th>
        <th>Sanskrit Name</th>
        <th>Description</th>
        <th>Image</th>
    </tr>
    @foreach (var pose in @Model)
    {
        <tr>
            <td><a asp-controller="Pose" asp-action="GetPose" asp-route-id="@pose.Pose_Id">@pose.English_Name</a></td>
            <td>@pose.Sanskrit_Name</td>
            <td>@pose.Pose_Description</td>
            <td><img src="@(pose.Url_Svg_Alt ?? Url.Content("~/Images/no-image.svg"))" alt="@pose.English_Name" style="max-height: 50px"></td>
        </tr>
    }
</table>

